{
  "description": "",
  "spec": [
    {
        "question_name": "Which device do you wish to target?",
        "min": null,
        "max": null,
        "default": "rtr1",
        "required": true,
        "choices": "rtr1\nrtr2\nrtr3\nrtr4",
        "variable": "network_target",
        "type": "multiplechoice"
    }
  ]
}
